{% for collection in collections %}
<tr class="hover:bg-gray-100">
  <td class="py-2 px-4 text-sm font-medium text-gray-900">{{collection.name}}</td>
  <td class="py-2 px-4 text-sm text-gray-500">{{collection.description}}</td>
  <td class="py-2 px-4 text-right text-sm font-medium">
    <a href="{% url 'details' collection.id %}" class="text-indigo-600 hover:text-indigo-900">Ver
      Pinturas<span class="sr-only">, {{collection.name}}</span></a>
  </td>
  <td class="py-2 px-4 text-right text-sm font-medium">
    <a href="{% url 'collection_edit' collection.id %}" class="text-indigo-600 hover:text-indigo-900">Editar<span
        class="sr-only">, {{collection.name}}</span></a>
  </td>
  <td class="py-2 px-4 text-right text-sm font-medium">
    <a href="{% url 'remove_collection' collection.id %}" class="text-indigo-600 hover:text-indigo-900">
        <span class="text-sm">Eliminar</span>
      </button>
    </a>
  </td>
</tr>
{% endfor %}